@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-white: #fff;
  --primary-blue: #3d7cb2;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #5ea2dd;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******Navbar*******/

/* X-Small devices (portrait phones) */
@media (max-width: 319px) {
  .navbar-brand {
    width: 2.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .navbar-toggler {
    margin-left: 9rem !important;
  }
  .navbar {
    width: 20rem !important;
  }
.header-wraper {
  width: 20rem !important;
}

.selfie-margin{
  margin-top: 2.5rem !important;
  margin-left: 5rem !important;
  height: 3rem !important;
}
.rounded-circle {
  margin-bottom: 10rem !important;
  width: 7.5rem !important;
  height: 10rem !important;
}
.p-margin {
  width: 18rem !important; 
  height: auto !important;
  margin-right: 0 !important;
}
.mobile-style {
  height: 35rem !important;
}
h2 {
  margin-top: 1rem !important;
}
.my-col {
  height: 15rem !important;
}
}
@media (min-width: 320px) {
  .navbar-brand {
    width: 2.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .navbar-toggler {
    margin-left: 19rem !important;
  }
  .navbar {
    width: 30rem !important;
  }
.header-wraper {
  width: 30rem !important;
}

.selfie-margin{
  margin-top: 2.5rem !important;
  margin-left: 10rem !important;
  height: 3rem !important;
}
.rounded-circle {
  margin-bottom: 10rem !important;
  width: 7.5rem !important;
  height: 10rem !important;
}
.p-margin {
  width: 18rem !important; 
  height: auto !important;
  margin-left: 6rem !important;
}
.mobile-style {
  height: 35rem !important;
}
h2 {
  margin-top: 1rem !important;
  margin-left: 6rem !important;
}
.my-col {
  height: 15rem !important;
}

}

@media (min-width: 480px) {
  .navbar-brand {
    width: 2.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .navbar-toggler {
    margin-left: 32rem !important;
  }
  .navbar {
    width: 44rem !important;
  }
.header-wraper {
  width: 44rem !important;
}

.selfie-margin{
  margin-top: 2.5rem !important;
  margin-left: 5rem !important;
  height: 3rem !important;
}
.rounded-circle {
  margin-bottom: 10rem !important;
  width: 7.5rem !important;
  height: 10rem !important;
}
.p-margin {
  width: 18rem !important; 
  height: auto !important;
  margin-left: 0 !important;
}
.mobile-style {
  height: 35rem !important;
}
h2 {
  margin-top: 1rem !important;
  margin-left: 6rem !important;
}
.my-col {
  height: 15rem !important;
}
}




@media (min-width: 600px) {
  .navbar {
    width: 58rem !important;
  }
  .navbar-brand {
    width: 12.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .header-wraper {
    width: 58rem !important;
  }
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
  .selfie-margin {
    height: 7rem;
    width: 6rem !important;
    margin-right: 1rem !important;
    margin-left: 5rem !important;
    margin-top: 4rem;
  }
  .rounded-circle {
    width: 12rem !important;
    height: 15rem !important;
    margin-left: 0rem;
    margin-bottom: 15rem;
  }
  .title-margin {
    margin-left: 0 !important;
  }
  .my-col {
    margin-bottom: 0 !important;
  }
  .p-margin {
    width: 28rem !important;
    margin: 0 !important;
    margin-right: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 900px) {
  .navbar {
    width: 75rem !important;
  }
  .navbar-brand {
    width: 12.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .navbar-toggler {
    margin-left: 50rem !important;
  }
  .header-wraper {
    width: 75rem !important;
  }
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
  .selfie-margin {
    height: 7rem;
    width: 6rem !important;
    margin-right: 1rem !important;
    margin-left: 10rem !important;
    margin-top: 4rem;
  }
  .rounded-circle {
    width: 12rem !important;
    height: 15rem !important;
    margin-left: 0rem;
    margin-bottom: 15rem;
  }
  .title-margin {
    margin-left: 0 !important;
  }
  .my-col {
    margin-bottom: 0 !important;
  }
  .p-margin {
    width: 28rem !important;
    margin: 0 !important;
    margin-right: 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar {
    width: 88rem !important;
  }
  .navbar-brand {
    width: 12.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .header-wraper {
    width: 88rem !important;
  }
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
  .selfie-margin {
    height: 7rem;
    width: 6rem !important;
    margin-right: 1rem !important;
    margin-left: 15rem !important;
    margin-top: 4rem;
  }
  .rounded-circle {
    width: 12rem !important;
    height: 15rem !important;
    margin-left: 0rem;
    margin-bottom: 15rem;
  }
  .title-margin {
    margin-left: 0 !important;
  }
  .my-col {
    margin-bottom: 0 !important;
  }
  .p-margin {
    width: 28rem !important;
    margin: 0 !important;
    margin-right: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .navbar {
    width: 119rem !important;
  }
  .navbar-brand {
    width: 12.25rem !important;
    padding: 0% !important;
    height: 6rem !important;
  }
  .header-wraper {
    width: 119rem !important;
  }
  .main-info h1 {
    font-size: 2.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
  .selfie-margin {
    height: 7rem;
    width: 6rem !important;
    margin-right: 1rem !important;
    margin-left: 20rem !important;
    margin-top: 4rem;
  }
  .rounded-circle {
    width: 18rem !important;
    height: 23.4rem !important;
    margin-left: 0rem;
    margin-bottom: 15rem;
  }
  .title-margin {
    margin-left: 0 !important;
  }
  .my-col {
    margin-bottom: 0 !important;
  }
  .p-margin {
    width: 28rem !important;
    margin: 0 !important;
    margin-right: 0;
  }
  .typed-text {
    font-size: 2rem !important;
    color: var(--primary-white);
  }
}

.logo {
  width: 06.25rem;
}

nav {
  z-index: 2;
}

/*Menu Links*/
nav a nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
}

/******Header*******/

.header-wraper {
  position: relative;
  background: url(Portfolio-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/*Typed Text*/

.typed-text {
  font-size: 1.5rem;
  color: var(--primary-white);
}

/*Header Btn*/

.btn-main-offer {
  border: 1px solid var(--primary-blue);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*Particles*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}




/******About Me*******/

.selfie-margin {
  margin-left: 24rem;
  margin-top: 4rem;
}

.title-margin {
  margin-top: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-blue);
}

.p-margin {
  margin-right: 25rem;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.rounded-circle {
  margin-bottom: 5rem;
  width: 15rem;
  height: 19.95rem;
}

/******Services*******/
.grey {
background-color: rgb(240, 240, 240);
}

.div-1 {

}

.div-2 {

}

.div-3 {

}

.div-4 {

}